.profile {
  display: flex;
  flex-direction: column;

  margin: 0px auto;

  max-width: 300px;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 1px, rgb(0 0 0 / 6%) 0px 4px 4px,
    rgb(0 0 0 / 16%) 1px 4px 6px;

  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px;
  background-color: #ffffff;
}

.avatar {
  margin-bottom: 32px;

  width: 140px;
  height: 140px;

  background-color: #eeeeee;
  border-radius: 50%;
}

.name {
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 22px;
  color: #212121;
}

.tag {
  margin-bottom: 16px;

  font-weight: 600;
  font-size: 16px;
  color: rgb(110, 110, 110);
}

.location {
  font-weight: 600;
  font-size: 16px;
  color: rgb(110, 110, 110);
}

.stats {
  list-style: none;
  display: flex;

  background-color: #eeeeee;
}

.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 16px;

  width: calc(33.3333%);

  border-top: 1px solid rgb(204, 204, 204);
}

.statsItem:not(:last-child) {
  border-right: 1px solid rgb(204, 204, 204);
}

.label {
  margin-bottom: 8px;

  font-size: 14px;
  text-transform: capitalize;
  color: #212121;
}

.quantity {
  font-weight: 600;
  font-size: 16px;

  color: #212121;
}
