.section {
  width: 100%;
  padding: 40px 0px;
  background-color: rgb(220, 220, 220);
}

.section:nth-child(2n) {
  background-color: rgb(240, 240, 240);
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 16px;
}
